@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap");
@import "tailwindcss";

a.active hr {
  display: block;
}

* {
  font-family: "Outfit";
}

.prata-regular {
  font-family: "Prata", serif;
  font-weight: 400;
  font-style: normal;
}

::-webkit-scrollbar {
  display: none;
}

@media (max-width: 768px) {
  a.active {
    @apply bg-gray-900 text-white;
  }
}

@theme {
  --breakpoint-xs: 30rem;
}

select,
input,
textarea {
  @apply outline-none;
}

/* Custom Height Breakpoint */
@custom-variant h-xs (@media (min-height: 480px));
@custom-variant h-sm (@media (min-height: 640px));
@custom-variant h-md (@media (min-height: 768px));
@custom-variant h-lg (@media (min-height: 1024px));
@custom-variant h-xl (@media (min-height: 1280px));
